name: Test & Deploy

on:
  push:
    branches:
      - 'main'

jobs:
  run-tests:
    name: run-tests
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Set Up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12.4'
      - name: Set Up Venv
        run: make create-environment
      - name: Run Requirements
        run: make requirements
      - name: Create Dev Setup
        run: make dev-setup
      - name: Run Tests
        run: make run-checks

  terraform-pipeline:
    name: terraform-pipeline
    runs-on: ubuntu-latest
    needs: run-tests
    steps: 
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
      - name: AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-2
      - name: Terraform Init
        working-directory: terraform
        run: terraform init
      - name: Plan
        working-directory: terraform
        run: terraform plan
      - name: Apply
        working-directory: terraform
        run: terraform apply --auto-approve
